<footer class="container tm-footer">
    <div class="row tm-footer-row">
        <p class="col-md-10 col-sm-12 mb-0">
            Copyright &copy; 2021 Noob World - Design:
            <a rel="nofollow" href="https://www.facebook.com/tooplate" class="tm-footer-link">Tooplate</a>
        </p>
    </div>
</footer>