<!-- page header -->
<div class="container" id="home">
    <div class="col-12 text-center">
        <div class="tm-page-header">
            <i class="fas fa-4x fa-chart-bar mr-4"></i>
            <h1 class="d-inline-block text-uppercase">Noob World</h1>
        </div>
    </div>
</div>