<!-- navbar -->
<div class="tm-nav-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-md navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tmMainNav" aria-controls="tmMainNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="tmMainNav">
                        <ul class="navbar-nav mx-auto tm-navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="/" onclick="parent.location='/'; return false;">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/features" onclick="parent.location='/features'; return false;">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/activities" onclick="parent.location='/activities'; return false;">Activities</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/company" onclick="parent.location='/company'; return false;">Company</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/contact" onclick="parent.location='/contact'; return false;">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>